*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.ensime
.ensime_cache
.bloop
.metals
project/metals.sbt

# Sublime
*.sublime-project
*.sublime-workspace

# Intellij IDEA
.idea/

# Local configuration files
*/src/main/resources/application.conf

# Mac
.DS_Store
